.sol-label-text{
	font-size:10px !important;
}
.hideimg{
	display:none
}
.htCore td.customClasssearch {
	background: #1E90FF;
	color: #f8f8ff;
}
td.errword {
  font-style:italic;
  color:red;
  text-decoration: underline;
}  
.highlight {
	white-space: normal;
	text-overflow: initial;
}
.sol-selection-container{
  left:15px  !important;
  top:160px  !important;
}	 
.handsontable td{
	white-space:nowrap;
}
.handsontable th {
	background-color: white !important;
}
.handsontable .inputcls {
	background-color: #e6ffe6 !important;
}
.handsontable .outputcls {
	background-color: #ECF2FA !important;
}
.prodcontainer table td{
 	color:black !important;
}
.inputdiv{
	background-color: #e6ffe6;
	width: 1px;
	border: 1px solid;
	padding: 6px;
	display:inline-block;
	font-size:6px;
}
.center {
   color:red;
 }
.outputdiv{
	background-color: #ECF2FA;
	width: 1px;
	border: 1px solid;
	padding: 6px;
	font-size:6px;
	display:inline-block;
}
.inputlabel{
    display:inline-block;
	padding-bottom:10px;
}
.attrdiv{
	background-color: #90c8ff;
	width: 50px;
	border: 1px solid;
	padding: 10px;
	display:inline-block;
}
.errword {
  font-style:italic;
  color:red;
  text-decoration: underline;
}
.ihfocus{
	border-color: rgba(82,168,236,.8) ;
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
    background-color: #eee;
	}
#buttondiv{
	width:900px !important;
}
#menubody{
    height: 250px !important;
    overflow-y: scroll !important;
}

div#menuModal table#menutable td:focus {
    background-color:  #aed6f1;
}
div#colheadersmodal table#iheaderstable td:focus {
    background-color:  #aed6f1 ;
}
#colhbody{
	padding:0px;
}
#draggablePanelList .panel-heading {
       cursor: move;
}
.handsontable notvalid {
  border: 1px solid red;
}
.notvalid {
  border: 1px solid red;
}
.labelcolor{
	color:#000000
}
.fillratetable{
	display:none;
	position: fixed;
	top: 0px;left: 0px;
	width: 100%;height: 100%;
	z-index:2;vertical-align: middle;
	text-align: center;
	color: #fff;
	font-size: 40px;
	font-weight: bold;cursor: pointer
}
.fillratediv{
	border:1px solid white; 
	height:100px; width:300px;
	background-color:white;
	position:fixed;left: 40%; 
	top: 40%; color:black;
	font-size:12px;
	padding-top:25px;
}
.ihtable{
	border: 1px solid white;
	font-size: 12px !important;
}
.ihinput{
	display: block;
	width: 600px;
	font-size: 12px;
}
.attrdesc{
	padding-left:10px;
	padding-top:10px;
	font-size:12px
}
.attrth{
	padding-left:10px;background-color: #F0F0F0;
}
.footer {
	  position: fixed;
	  z-index:1000;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  color: white;
	  text-align: center;background-color:#f8f8f8;width:100%;
	}
#hpanel {
  position: absolute;background-color:#FFFFFF;
  left: 0px; z-index:1000;width:100%;
  margin-top:-27px; border:1px solid #337ab7;
 }
#fpanel {
  position: absolute;background-color:#f8f8f8;color:black;
  bottom: 20px; z-index:1000;width:100%;border:1px solid #337ab7;opacity:4.6;
 }
#himg{
	margin-top:-50px;
}
.smenu {
	 position: absolute;
	 z-index: 1000;
	 left: 0;
	 top: 350px;
	 padding: 2px;
	 border:1px solid;
	 background-color:#ECF2FA;
	-webkit-transition: top 0.5s;
	transition: top 0.5s;
}

