body{
                font-family:Arial;
                
                font-size:14px;
            }
            a{
                color:#444;
                font-size:14px;
            }
            a:hover{
                color:#999;
            }
            
            .headertd
            {
            background-color:#0B1B3D;
            color:#FF0004;
            font-size:12px;
            }
            
            .headertda{
            color:#ffffff;
            font-size:12px;
            font-weight: bold;
            }
label.error { 
margin-left:3px;
color:red;
 font-size:12px;
}

input[type=text]
{
font-size:12px;
}

div#floatban {
position: fixed; 
top: 1px;
left:0px;
z-index: 99999;
border-bottom:1px #FF9900 solid;
background-color:#000000;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	font-weight:bold;
	letter-spacing:1px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.button1:hover {
    background-color: #f44336;
    color: white;
}
